config/config.yaml
*slurm.sh
MCB_bash_scripts/
build/
mlruns/
magma_*/

benchmark_*/**/*_env
**/.git
slurm-*.out
ECLARE_v*.pdf

*.zip
*.tmp
*.pyc

*.npz
*.npy
*.pkl
*.dill
*.h5
*.hhad
*.csv
*.log
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.eps
*.sqlite