config/config.yaml
*slurm.sh
MCB_bash_scripts/
build/
mlruns/

benchmark_*/**/*_env
**/.git
slurm-*.out
__pycache__/

*.zip
scripts/**/*.ipynb
scripts/*.ipynb

*.npz
*.npy
*.pkl
*.dill
*.h5
*.hhad
*.csv
*.log
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.eps
*.sqlite

magma_v1.10/